{% extends "registration.html" %}
{% block form %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        {{ block.super }}
    {% endblock %}
</head>

<body>
    {% block messages %}
            {{ block.super }}
    {% endblock %}

    <div class="card">
        <div class="container">
            <h3>Forgot Password . . ?</h3><br>
            <h5>Please enter your registered email . . . </h5>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="email" name="email" id="email" required><br><br><br><br>
                    <button  class="w3-btn w3-round-small" type="submit"  id="button" > Verify </button> 
                </form>
        </div>
    </div>    
{% endblock %}
</body>