{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div id="content">
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block form %}
            <div class="card">
                <div class="container">
                    <div class="register">
                        <h1>Login</h1>
                        <div class="reg">
                            <form action=""  method="POST"  name="loginform" id="login_form_id">
                                {% csrf_token %}
                                <input id="username" type="text" name="username" placeholder="Username" required> <br><br>
                                <input id="password" type="password" name="password" placeholder="Password" required> <br><br>
                                <button class="apireq" placeholder="Login" value="btn" id="button" >Login</button>

                                <p>--OR--</p><br>
                                <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
                                <br>
                                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
                                <br>
                                <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with Linkedin</a><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</body>
</html>