{% extends "base.html" %}
{% block form %}
{% load static %} 
<html>
<head>
    <title>reset_password</title>
    {% block css %}
        {{ block.super }}
    {% endblock %}
</head>
<body>
    <div class="card">
        <div class="container"><br><br>
            <h3>Please Enter New Password</h3>
            <form action="" method="post">{% csrf_token %}<br><br>
                <div align="center">    
                <input id="pass" type="password" name="password" placeholder="Newpassword" required><br><br>
                <button type="submit" id="button"> Update </button></div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
</html>