asgiref==3.2.7
boto3==1.12.41
botocore==1.15.41
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
CodeConvert==3.0.2
cryptography==2.9.1
defusedxml==0.6.0
Django==3.0.5
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-models-ext==1.1.9
django-redis==4.11.0
django-short-url==1.1.4
django-six==1.0.4
django-storages==1.9.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
docutils==0.15.2
furl==2.1.0
idna==2.9
jmespath==0.9.5
oauthlib==3.1.0
orderedmultidict==1.0.1
Pillow==7.1.1
pkg-resources==0.0.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python3-openid==3.1.0
pytz==2019.3
redis==3.4.1
requests==2.23.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
screen==1.0.1
shortuuid==1.0.1
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
sqlparse==0.3.1
TimeConvert==1.5.1
tzlocal==2.0.0
urllib3==1.25.9
xlwt==1.3.0
